html{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;   
}
body{
    background-color: rgb(29, 28, 28);
    color: white;
}
h1{
    border:2px solid white;
    border-radius: 5px;
    font-size: xx-large;
    padding: 10px;
}
.popover {
    top: -125px !important;
    left: -60px !important;
}
.container{
    margin-top: 20px;
}
.gif-container{
    width: 100%;
}
.gif-div{
    float: left;
    margin: 10px 20px;
}
.rating{
    font-weight: 800;
}
button{
    margin: 3px 3px;
}
.custom-control{
    margin-left: 40px;
}
p{
    margin:0px;
}
label{
    margin-right: 5px;
}
